/Artikel.class
/Kunde.class
/User.class
/Sitzung.class
/Rechnung.class
/Massenartikel.class
/Sitzungsnummer.class
/valueobject.class
/Thing.class
/Valueobject.class
/SceneNode.class
/Scenenode.class
/Event.class
/InputEvent.class
/Inputevent.class
/Lagerungsevent.class
/LagerungseventVerwaltung.class
/ValueobjectInterface.class
/SitzungInterface.class
